@charset "UTF-8";
@import url("../webfonts/PSL/stylesheet.css");
#wrapper {
	background-image: url(../other/index_fulls.jpg);
	background-repeat: no-repeat;
	margin: auto;
	width: 1000px;
	box-shadow: 0 0 3px 3px #ccc;
	background-color: #FFF;
}
#bordererror{
	border: 1px dotted #CCC;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-bottom: 40px;
}
#allLogoMenu {
	height: 118px;
	width: 100%;
}
#logo {
	height: 118px;
	width: 266px;
	background-image: url(../images/logo.png);
	margin-left: 18px;
	float: left;
}
#allLogoMenu nav {
	float: right;
	width: 600px;
	margin-right: 60px;
	margin-top: 30px;
}
.menuSlide-a {
	position: relative;
	padding: 15px;
}
.menuSlide-a a{
	text-decoration: none;
	color: #808285;
}
.menu-mainmenu-container ul li a{
text-decoration: none;
	color: #808285;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	-moz-transition-property: border-color;
	-moz-transition-duration: 2s;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 2s;
	-o-transition-property: border-color;
	-o-transition-duration: 2s;
	-transition-property: border-color;
	transition-duration: 2s;
	margin-right: 2px;
	margin-left: 2px;
}
.menu-mainmenu-container ul li a:hover{
	text-decoration: none;
	border-bottom-color: #35BEF4;
	-moz-transition-duration: .1s;
	-webkit-transition-duration: .1s;
	-o-transition-duration: .1s;
	transition-duration: .1s;
	}
.menu-mainmenu-container #menu-mainmenu .current-menu-item a, .menu-mainmenu-container #menu-mainmenu .current_page_item a{
	padding-bottom:5px;
	color: #35bef4;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #35BEF4;
}
.menu-mainmenu-container #menu-mainmenu a, .menu-mainmenu-container #menu-mainmenu a{
	padding-bottom:5px;
}
.menuSlide-a .menuFade{
	text-decoration: none;
	color: #808285;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	-moz-transition-property: border-color;
	-moz-transition-duration: 2s;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 2s;
	-o-transition-property: border-color;
	-o-transition-duration: 2s;
	-transition-property: border-color;
	transition-duration: 2s;
	margin-right: 2px;
	margin-left: 2px;
	padding-bottom: 5px;
}
.menuSlide-a .menuFade:hover, .menuSlide-a .menuFade:focus{
	text-decoration: none;
	color: #35bef4;
	border-bottom-color: #35BEF4;
	-moz-transition-duration: .1s;
	-webkit-transition-duration: .1s;
	-o-transition-duration: .1s;
	transition-duration: .1s;
	padding-bottom: 5px;
}
.menuSlide-a #hover{
	color: #35bef4;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #35BEF4;
	padding-bottom: 6px;
	margin-right: 2px;
	margin-left: 2px;
}
.menuSlide-a ul{
	margin: 0;
	padding: 0;
	z-index: 300;
	position: absolute;
	width: 647px;
}
.menuSlide-a ul li{
	list-style: none;
	float: left;
	text-align: center;
	font-family: arial;
	font-size: 18px;
    }
.menuSlide-a ul li a{
    padding: 0 20px;
    text-align: center;
    }

.floatr {
	position: absolute;
	top: 10px;
	z-index: 50;
	width: 70px;
	height: 30px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #35bef4;
	left: 16px;
}
#solidHead {
	background-image: url(../images/solidHead.png);
	background-repeat: repeat-x;
	width: 92%;
	height: 20px;
	margin: auto;
}
#slideImage {
	height: 442px;
	margin-bottom: 105px;
	width: 100%;
	box-shadow: 0px 5px 20px #999;
	position: relative;	
}
#fontDemo {
	background-image: url(../images/fontDemo.png);
	background-repeat: no-repeat;
	height: 131px;
	width: 404px;
	position: absolute;
	z-index: 999;
	top: 50px;
	right: 0px;
}
#contentAll-topic {
	padding-left: 40px;
	margin-bottom: 10px;
}
#contentAll-topic a{
	font-family: arial;
	font-size: 14px;
	color: #939598;
	text-decoration: none;
}
#contentAll-topic a:hover{
	opacity: 0.5;
}
#contentAll-topic #thisPage {
	font-family: arial;
	font-size: 14px;
	color: #00aeef;
}
#wrapper aside #support-pic {
	margin: auto;
	width: 887px;
	height: 392px;
	display: block;
	box-shadow: 3px 3px 4px #999;
}
#articleAll {
	height: 25px;
}
#article-topic {
	font-family: PSL;
	font-size: 35px;
	color: #58595b;
	padding-left: 40px;
	float: left;
	margin-top: -10px;
}
#articles-dmy {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color: 6d6e71;
	font-size: 18px;
	margin-right: 40px;
	cursor: pointer;
}
#article-viewAll {
	margin-left: 40px;
	width: 920px;
	height:50px;
	z-index: 9999999;
}
.article-viewAllL{
	float:left;
	z-index: 9999999;
}
.article-viewAllR{
	float:right;
	z-index: 9999999;
}
.article-viewAllL a, .article-viewAllR a{
	font-family: PSL;
	font-size: 25px;
	color: #66CCFF;
	text-decoration: none;
	z-index: 9999999;
}
.article-viewAllL a:hover, .article-viewAllR a:hover{
	opacity: 0.5;
}
.article-all {
	height: 280px;
	width: 910px;
	margin-left: 40px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.article-pic {
	height: 265px;
	width: 400px;
	float: left;
	background-image: url(../images/product/imageEmpty.jpg);
	background-repeat: no-repeat;
}
.article-detail {
	float: left;
	width: 435px;
	margin-left: 20px;
	font-family: arial;
	font-size: 14px;
	color: #939598;
	font-style: normal;
	font-weight: lighter;
	word-spacing: 2px;
	position: relative;
	line-height: 18px;
	text-align: justify;
}
#articles-detail {
	width: 92%;
	margin-right: 40px;
	margin-left: 40px;
	font-family: arial;
	font-size: 14px;
	color: #939598;
	font-style: normal;
	font-weight: lighter;
	word-spacing: 2px;
	text-align: justify;
	line-height: 18px;
	display: table;
}
#articles-detail blockquote {
	width: 100%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: -10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
#articles-detail blockquote p {
	background-color: #FFF;
	display:table;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 16px;
	padding-right: 20px;
	padding-left: 20px;
}
#articles-detail ol {
	height: 30px;
	width: 95%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: -20px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
}
#articles-detail strong {
	color: #6D6E71;
}
.article-detail h3 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-family: PSL;
	font-size: 30px;
	color: #58595b;
}
.article-detail strong {
	color: #6D6E71;
}
.article-detail a {
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	margin-right: 0px;
	position: absolute;
	margin-bottom: 0px;
	right: 0px;
	bottom: 0px;
	top: 245px;
	color: #66CCFF;
}
.article-detail a:hover {
	opacity:0.5;
	}
#product-tpmn {
	height: 25px;
}
#product-topic {
	font-family: PSL;
	font-size: 35px;
	color: #58595b;
	padding-left: 40px;
	margin-top: -10px;
	height: 25px;
	float: left;
}
#product-menuAll {
	float: left;
	height: 25px;
	margin-left: 10px;
}
#product-menuAll ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
}
#product-menuAll ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-family: arial;
	font-size: 13px;
	color: #FFF;
	display: block;
	float: left;
	cursor: pointer;
	text-align:center;
	height: 24px;
	background-image: url(../images/product/bgMenu.jpg);
	background-repeat:repeat-x;
}
#product-menuAll ul li:hover {
	opacity:0.5;
}
.current {
	opacity:0.5;
}
#product-menuAll ul li a {
	text-decoration:none;
	font-family: arial;
	font-size: 13px;
	color: #FFF;
}
#product-All {
	height: 100%;
	display: table;
	width: 880px;
	border: 1px solid #999;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 0px;
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
}
.product-All {
	height: 100%;
	width: 880px;
	display: table;
}
#product-viewAllL{
	float:left;
	z-index: 9999999;
	margin-bottom:10px;
}
#product-viewAllR{
	float:right;
	z-index: 9999999;
	margin-bottom:10px;
}
#product-a_detail {
	padding-left: 40px;
	font-family: arial;
	color: #939598;
	font-size: 15px;
	line-height: 20px;
	font-weight: lighter;
	padding-right: 40px;
	text-align: justify;
}
#product-a_detail blockquote {
	width: 100%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: -10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
#product-a_detail blockquote p {
	background-color: #FFF;
	display: table;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 16px;
	padding-right: 20px;
	padding-left: 20px;
	
}
#product-a_detail ol {
	height: 30px;
	width: 95%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: -20px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
}
#postswrapper a{
	font-family: PSL;
	font-size: 25px;
	color: #66CCFF;
	text-decoration: none;
	z-index: 9999999;
}
#product-viewAllL:hover, #product-viewAllR:hover{
	opacity: 0.5;
}
.product-slide {
	float: left;
	height: 300px;
	width: 400px;
	position: relative;
	background-image: url(../images/product/imageEmpty.jpg);
	background-repeat: no-repeat;
}
.product-detail {
	float: left;
	width: 435px;
	margin-left: 20px;
	font-family: arial;
	font-size: 14px;
	color: #939598;
	font-style: normal;
	font-weight: lighter;
	word-spacing: 2px;
	line-height: 18px;
}
.product-detail ul  {
	list-style-type: none;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.product-detail strong {
	color: #6D6E71;
}
.product-detail li img {
	margin-right: 10px;
	margin-left: 5px;
}
.product-detail h3 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-family: PSL;
	font-size: 30px;
	color: #58595b;
	padding-bottom: 5px;
}
#product-solid {
/*	background-image: url(../images/solidHead.png);
	background-repeat: repeat-x;*/
	height: 1px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
#support-topic {
	font-family: PSL;
	font-size: 35px;
	color: #58595b;
	padding-left: 40px;
	margin-top: 15px;
}
#support-detail h5 {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left:40px;
	padding-bottom:0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width:880px;
	font-family: PSL;
	font-size: 35px;
	color: #58595b;
}
#support-detail ol {
	height: 30px;
	width: 95%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: -20px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
}
#support-detail{
	height: auto;
	display: table;
	padding-bottom: 20px;
}
#support-detail ul {
	list-style-type: none;
	margin-top: -5px;
	margin-bottom:15px;
	margin-left: 15px;
	font-family: arial;
	font-size: 14px;
	color: #939598;
}
#support-detail ul li {
	margin-left: 10px;
	padding-left: 20px;
	line-height: 20px;
	background-image: url(../images/support/bullet.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

#support-detail ul li h3 {
	font-family: PSL;
	font-size: 25px;
	color: #58595b;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#support-detail2All {
	height: 600px;
	width: 100%;
	margin-left: 40px;
	margin-top: 20px;
}
.support-detail2 {
	width: 420px;
	float: left;
	font-family: arial;
	font-size: 14px;
	color: #939598;
	line-height: 18px;
	margin-left: 15px;
	padding-left: 30px;
	padding-bottom: 5px;
}
.support-detail2 h3   {
	font-family: PSL;
	font-size: 25px;
	color: #58595b;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	position: relative;
}
.support-detail2 ul {
	list-style-type: none;
	padding-left:10px;
	text-align: justify;
	text-indent: 20px;
}
.about-topic {
	height: 57px;
	width: 92%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.about-detail {
	margin: auto;
	width: 805px;
	text-align: justify;
	text-indent: 60px;
	font-family: arial;
	font-size: 15px;
	color: #939598;
	line-height: 20px;
}
.about-topic #tp1 {
	background-color: #FFF;
	height: 57px;
	width: 200px;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 5px;
	text-transform: uppercase;
}
.about-topic #tp2 {
	background-color: #FFF;
	height: 57px;
	width: 260px;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 5px;
	text-transform: uppercase;
}
.about-topic #tp3 {
	background-color: #FFF;
	height: 57px;
	width: 410px;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 5px;
	text-transform: uppercase;
}
.about-topic #tp4 {
	background-color: #FFF;
	height: 57px;
	width: 140px;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 5px;
	text-transform: uppercase;
}
#about-a_detail {
	padding-left: 40px;
	font-family: arial;
	color: #939598;
	font-size: 15px;
	line-height: 20px;
	font-weight: lighter;
	padding-right: 40px;
	text-align: justify;
}
#about-a_detail blockquote {
	height: 57px;
	width: 100%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
#about-a_detail blockquote p {
	background-color: #FFF;
	display:table;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 16px;
	padding-left:20px;
	padding-right: 20px;
}
#about-a_detail ol {
	height: 57px;
	width: 95%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-bottom: -20px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
}
#about-member {
	background-color: #C2C2C2;
	height: 295px;
	width: 632px;
	margin: auto;
	padding: 10px;
	text-align: center;
}
.about-member {
	float: left;
	height: 275px;
	width: 142px;
	border: 3px solid #DDD;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.about-member img {
	margin: auto;
}
.about-member-detail {
	font-family: arial;
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 6px;
}
.about-member-detail h4 {
	font-family: PSL;
	font-size: 25px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.about-member-name {
	background-image: url(../images/about/bgName.jpg);
	background-repeat: repeat-x;
	height: 38px;
	width: 142px;
	font-family: arial;
	font-size: 12px;
	color: #FFF;
	margin: auto;
}
#diagram {
	background-image: url(../images/about/diagram.png);
	height: 506px;
	width: 750px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#about-jobAll {
	width: 840px;
	margin: auto;
	height: 200px;
}
.about-jobDetailAll {
	width: 240px;
	height: 155px;
	display: inline-block;
	margin-left:32px;
	margin-right:32px;
	text-align: center;
}
.about-jobButton {
	background-image: url(../images/about/bgMenu.jpg);
	float: right;
	height: 19px;
	width: 69px;
	font-family: arial;
	font-size: 12px;
	color: #FFF;
	cursor: pointer;
	margin: auto;
}
.about-jobButton:hover {
	opacity:0.5;
}
.about-jobButton a {
	color: #FFF;
	text-decoration: none;
}
.about-jobDetail {
	background-color: #E1E1E1;
	text-align: center;
	height: 110px;
	width: 220px;
	font-family: arial;
	font-size: 12px;
	color: #6f6f6f;
	padding: 10px;
	float: left;
	line-height: 18px;
}
.about-jobDetail h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-size: 26px;
	font-family: PSL;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	text-align: center;
}
#contact-All {
	margin: auto;
	width: 92%;
}
#contact-topic {
	font-family: PSL;
	font-size: 35px;
	color: #58595b;
	padding-left: 40px;
	margin-top: -10px;
}
#contact-map {
	margin: auto;
	width: 860px;
}
#contact-detailAll {
	margin-top: 20px;
	height: 310px;
	width: 100%;
}
#contact-detail {
	float: left;
	height: 310px;
	width: 520px;
}
.contact-detail {
	float: left;
	width: 450px;
	margin-left: 30px;
	font-family: arial;
	font-size: 14px;
	color: #939598;
	font-style: normal;
	font-weight: lighter;
	word-spacing: 2px;
}
.contact-detail strong {
	color: #6D6E71;
}
.contact-detail ul {
	padding: 0px;
	margin: 0px;
}
.contact-detail ul li {
	list-style-type: none;
	padding: 0px;
	position: relative;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.contact-detail ul li img {
	position: absolute;
	top: 1px;
	left: -10px;
}
.contact-detail ul li a {
	color: #00aeef;
	text-decoration: none;
}
.contact-detail ul li a:hover {
		opacity:0.5;
}
#contact-a_detail {
	font-family: arial;
	color: #939598;
	font-size: 15px;
	line-height: 20px;
	font-weight: lighter;
	text-align: justify;
}
#contact-a_detail h6 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-bottom:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-family: PSL;
	font-size: 30px;
	color: #58595b;
	vertical-align: text-top;
}
#contact-a_detail p a {
	color: #00aeef;
	text-decoration: none;
}
#contact-a_detail p a:hover {
		opacity:0.5;
}
#contact-a_detail ol {
	height: 30px;
	width: 95%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: -20px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
}
#contact-form {
	float: left;
	height: 318px;
	width: 325px;
	margin-left: 27px;
	background-color: #e8e9e9;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#contact-form h3 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-family: PSL;
	font-size: 30px;
	color: #58595b;
	vertical-align: text-top;
}
#contact-form form div .input {
	background-color: #CCCCCC;
	height: 30px;
	width: 313px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #58595b;
	font-size: 15px;
	padding-left: 10px;
}
#contact-form form div .textarea {
	background-color: #CCCCCC;
	height: 100px;
	width: 311px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #58595b;
	font-size: 15px;
	padding-left: 10px;
	padding-top:9px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #58595b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #58595b;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #58595b;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #58595b;
}

#contact-form form div .submit {
	background-image: url(../images/contact/bgMenu.jpg);
	background-repeat: no-repeat;
	height: 24px;
	width: 69px;
	color: #FFF;
	cursor: pointer;
}
#contact-form form div .submit:hover {
	opacity:0.5;
}
#contact-other {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
#contact-other ul {
	padding: 0px;
	list-style-type: none;
}
#contact-other ul li {
	display: inline;
}
#content-a {
	height: 326px;
	width: 100%;
}
.content-a_block {
	float: left;
	height: 324px;
	width: 274px;
	margin-left: 43px;
	border: 1px solid #9BA2A2;
}
#cropSupportPic{
	width: 274px;
	overflow: hidden;
	}
.content-a_detail {
	padding-right: 10px;
	padding-left: 10px;
	font-family: arial;
	color: #939598;
	font-size: 14px;
	line-height: 20px;
	font-weight: lighter;
}
.content-a_detail h1 {
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.content-a_detail h1 a {
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 29px;
	margin-top: 15px;
	margin-bottom: 20px;
	text-decoration: none;
}
.content-a_detail h1 a:hover {
	opacity:0.5;
}
.content-b_topic {
	height: 57px;
	width: 92%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
.content-b_topics {
	height: 57px;
	width: 92%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-bottom: -20px;
	margin-right: auto;
	margin-left: auto;
}
.content-b_topic #h1 {
	background-color: #FFF;
	height: 57px;
	width: 380px;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 5px;
}
#content-b_detail {
	padding-left: 40px;
	font-family: arial;
	color: #939598;
	font-size: 15px;
	line-height: 20px;
	font-weight: lighter;
	padding-right: 40px;
	text-align: justify;
}
#content-b_detail blockquote {
	height: 57px;
	width: 100%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
#content-b_detail blockquote p {
	background-color: #FFF;
	height: 57px;
	display:table;
	text-align: center;
	color: #58595b;
	font-family: PSL;
	font-size: 35px;
	margin: auto;
	padding-top: 16px;
	padding-right: 20px;
	padding-left:20px;
}
#content-b_detail ol {
	height: 57px;
	width: 95%;
	background-image: url(../images/solidBg.png);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-bottom: -20px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
}
#footer-a {
	height: 190px;
}
#footer-b {
	height: 47px;
	background-color: #00aeef;
}
#footer-b_coppyright {
	font-family: arial;
	font-size: 10px;
	color: #FFF;
	float: left;
	width: auto;
	margin-top: 15px;
	margin-left: 40px;
}
.h0 h0 {
	font-family: PSL;
	font-size: 26px;
	color: #242461;
	height: 20px;
	margin-bottom: 99px;
	padding-bottom: 99px;
	z-index: -9999;
}
#footer-a_block1 {
	height: 184px;
	width: 165px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7f7f7f;
	margin-left: 40px;
}
#footer-a_block1 ul {
	list-style-type: none;
	display: block;
	padding-left: 0px;
	margin-top: 0px;
}
#footer-a_block1 ul li {
	font-family: arial;
	font-size: 11px;
	height: 44px;
	padding-left: 40px;
	padding-top: 10px;
	position: relative;
}
#footer-a_block1 ul li a {
	text-decoration: none;
	color: #000;
}
#footer-a_block1 ul li a:hover {
	text-decoration: none;
	color: #999;
}
#footer-a_block1 ul li img {
	position: absolute;
	margin-top: 18px;
	left: 2px;
	top: -19px;
}
#footer-a_block2 {
	height: 145px;
	width: 200px;
	float: left;
	padding-left: 20px;
}
#footer-a_block2 ul {
	list-style-type: none;
	display: block;
	padding-left: 0px;
	margin-top: 0px;
}
#footer-a_block2 ul li {
	font-family: arial;
	font-size: 11px;
	height: 22px;
	padding-left: 35px;
	padding-top: 10px;
	position: relative;
}
#footer-a_block2 ul li a {
	text-decoration: none;
	color: #000;
}
#footer-a_block2 ul li a:hover {
	text-decoration: none;
	color: #999;
}
#footer-a_block2 ul li img {
	position: absolute;
	margin-top: 20px;
	left: 0px;
	top: -16px;
}
#footer-a_block3 {
	height: 184px;
	width: 165px;
	float: left;
	padding-left: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7f7f7f;
}
#footer-a_block3 ul {
	list-style-type: none;
	display: block;
	padding-left: 0px;
	margin-top: 0px;
}
#footer-a_block3 ul li {
	font-family: arial;
	font-size: 11px;
	height: 22px;
	padding-top: 10px;
	font-style: italic;
}
#footer-a_block3 ul li a {
	text-decoration: none;
	color: #000;
}
#footer-a_block3 ul li a:hover {
	text-decoration: none;
	color: #999;
}
#footer-a_block3 ul li img {
	position: absolute;
	margin-top: 20px;
	left: 0px;
	top: -16px;
}
#footer-a_block4 {
	height: 145px;
	width: 338px;
	float: left;
	padding-left: 20px;
	font-family: arial;
	font-size: 11px;
	position: relative;
}
#footer-a_block4 ul{
	list-style-type: none;
	display: block;
	padding-left: 0px;
	text-indent: 20px;
	width: 200px;
	text-align: justify;
	margin-top: 3px;
}
#footer-a_block4 ul li {
	font-family: arial;
	font-size: 11px;
	height: 22px;
	padding-top: 10px;
	font-style: italic;
}
#footer-a_block4 img {
	margin-top: 7px;
	margin-bottom: 10px;
}
#pic_footer_pp {
	background-image: url(../images/pic_footer_pp.jpg);
	background-repeat: no-repeat;
	height: 107px;
	width: 103px;
	position: absolute;
	right: 0px;
	top: 10px;
}
#footer-b_logoFoot {
	background-image: url(../images/logoFooter-b.png);
	background-repeat: no-repeat;
	background-size: 120px 56px;
	float: right;
	height: 80px;
	width: 200px;
	margin-top: -4px;
	margin-right: -52px;
}
#support-detail {
	height: 100%;
	width: 100%;
}
#wrapper aside {
	height: 100%;
	width: 100%;
}
#wrapper footer {
	height: 100%;
	width: 100%;
}

body {
	margin: 20px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}

/* ImagesCommentPage */
.alignleft {
	float: left;
	margin-right:10px;
	margin-top:10px;
}
.alignright {
	float: right;
	margin-left:10px;
	margin-top:10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#icon1{
	width: 15px;
	height: 16px;
	background-image: url(../images/support/ic1.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	}
#icon2{
	width: 15px;
	height: 16px;
	background-image: url(../images/support/ic2.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	}
#icon3{
	width: 15px;
	height: 16px;
	background-image: url(../images/support/ic3.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	}
#icon4{
	width: 15px;
	height: 16px;
	background-image: url(../images/support/ic4.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	}
#icon5{
	width: 15px;
	height: 16px;
	background-image: url(../images/support/ic5.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	}
pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
	}
#contact-form form div .error {
	margin-top:15px;
	margin-left:200px;
	position:absolute;
	padding:0px;
	height:5px;
	font-family:arial;
	line-height:5px;
    font-size: 12px;
    font-style: italic;
    color: #fff;
}
#message {
	font-family: PSL;
	font-size: 26px;
	color: #58595b;
	height: 20px;
	text-align: center;
	}